h1= @question.title
p= @question.body

- if user_signed_in? && current_user.author_of?(@question)
  = link_to 'Delete question', @question, data: { turbo_method: :delete }

h2 Answers
p= render @question.answers

.answer_errors
  = render 'shared/errors', resource: @answer

- if user_signed_in?
b= 'Add Answer'
= render 'answers/form', answer: @answer


